/.classpath
/.project
db.properties
/src/main/resources/application.yml
/src/main/resources/tk.py
/target/classes/tk.py
/target/classes/application.yml
*.log
/src/main/python/resources/tk.py
/src/main/python/logs/
