SnakeSmartMemo/src/main/web/indx.html
SnakeSmartMemo/src/main/web/script.js
SnakeSmartMemo/src/main/web/style.css
SnakeSmartMemo/src/main/web/info.html
logs
delete
logs/springboot.log
logs/springboot.log
SnakeSmartMemo/target/classes/resources/tk.py
SnakeSmartMemo/src/main/python/.idea
SnakeSmartMemo/src/.idea
SnakeSmartMemo/target/classes/.idea