<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmxz.snakesmartmemo.dao.UserDao">
    <select id="getUserInfoList" resultType="com.cmxz.snakesmartmemo.pojo.User">
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
        select * from ssm.user_info
    </select>

<!--    <select id="insert" parameterType="com.cmxz.snakesmartmemo.pojo.User">-->
<!--        &lt;!&ndash; 这里sql结尾不能加分号，否则报“ORA-00911”的错误 &ndash;&gt;-->
<!--        insert into ssm.user_info(id,username) values(#{id},#{username})-->
<!--    </select>-->
</mapper>